{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">{% endblock %}

{% block section %}

    <div class="container">

        <div class="fornheimlogo"><img src="{{ asset('img/horizon.png') }}" alt=""></div>
        <div class="bloc">

            <a href="{{ path('lol_accueil') }}">
                <div class="lolbloc"><img src="{{ asset('img/lolbloc.png') }}" class="resp" alt=""></div>
            </a>
            <a href="{{ path('temtem_accueil') }}">
                <div class="temtembloc"><img src="{{ asset('img/tftbloc.png') }}" class="resp" alt=""></div>
            </a>


        </div>
    </div>

{% endblock %}