{% extends 'base_accueil.html.twig' %}


{% block stylesheet %}<link rel="stylesheet" href="{{ asset('css/temtem_style.css') }}">{% endblock %}

        {% block nav1 %}<div class="news"><a href="">News</a></div>{% endblock %}
        {% block nav2 %}<div class="guides"><a href="">Guides</a></div>{% endblock %}
        {% block nav3 %}<div class="shadowland"><a href="">Patch Notes</a></div>{% endblock %}
        {% block nav4 %}<div class="lol_logo"><a href="{{ path('bfa_accueil') }}"><img class="resp" src="{{ asset('img/bfa_logo.png') }}" alt=""></a></div>{% endblock %}
        {% block nav5 %}<div class="temtem_logo"><a href="{{ path('lol_accueil') }}"><img class="resp" src="{{ asset('img/lol_logo.png') }}" alt=""></a></div>{% endblock %}

{% block section %}
    <div class="container"></div>


{% endblock %}